<button class="loading-overlay" [hidden]="!loadingIndicatorService.loading">
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Cargando...
</button>
<div class="row">
  <mat-toolbar>
    <div
      class="mat-toolbar-row"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      "
    >
      <span>Lotes</span>
        <div style="align-items:baseline;">
      <button
        type="button"
        class="btn btn-lg"
        style="color: white; text-decoration: underline;"
        (click)="volverAtras()"
      >
        <mat-icon>arrow_back_ios</mat-icon>Volver
      </button>
    </div>

    </div>
  </mat-toolbar>
  <div class="row content">
    <mat-form-field>
      <mat-label>Seleccionar usuario</mat-label>
      <mat-select
        [(ngModel)]="usuarioSeleccionado"
        (selectionChange)="seleccionarUsuario(usuarioSeleccionado)"
      >
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.Id">{{
          usuario.ApellidoNombre
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mt-1">
      <button type="button" class="btn btn-lg button" (click)="limpiar()">
        limpiar
      </button>
      <span></span>
      <button type="button" class="btn btn-lg button" (click)="search()">
        Buscar
      </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Lote">
        <th mat-header-cell *matHeaderCellDef>Lote Id</th>
        <td mat-cell *matCellDef="let element">{{ element.LoteId }}</td>
      </ng-container>
      <ng-container matColumnDef="Objeto">
        <th mat-header-cell *matHeaderCellDef>Objeto</th>
        <td mat-cell *matCellDef="let element">{{ element.Objeto }}</td>
      </ng-container>
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.Fecha }}</td>
      </ng-container>
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef [hidden]="true">Estado</th>
        <td mat-cell *matCellDef="let element" [hidden]="true">
          {{ element.EstadoId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="EstadoDescripcion">
        <th mat-header-cell *matHeaderCellDef>Estado Descripcion</th>
        <td mat-cell *matCellDef="let element">
          {{ element.EstadoDescripcion }}
        </td>
      </ng-container>
      <ng-container matColumnDef="UsuarioId">
        <th mat-header-cell *matHeaderCellDef [hidden]="true">Usuario Id</th>
        <td mat-cell *matCellDef="let element" [hidden]="true">
          {{ element.UsuarioId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="UsuarioNombre">
        <th mat-header-cell *matHeaderCellDef>Usuario Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.UsuarioNombre }}</td>
      </ng-container>
      <ng-container matColumnDef="UsuarioApellido">
        <th mat-header-cell *matHeaderCellDef>Usuario Apellido</th>
        <td mat-cell *matCellDef="let element">
          {{ element.UsuarioApellido }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="getDocumentos(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalRecords"
      [pageSize]="selectedPageSize"
      [pageIndex]="page - 1"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
