<button class="loading-overlay" [hidden]="!loadingIndicatorService.loading">
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Cargando...
</button>
<mat-toolbar><span>Información</span></mat-toolbar>
<div class="row">
  <div class="col-md-4">
    <mat-dialog-content>
      <p>Apellido: {{data.Apellido}}</p>
      <p>Nombre: {{data.Nombre}}</p>
      <p>Numero Documento: {{data.TipoDocumento.Descripcion}} - {{data.NumeroDocumento}}</p>
      <p>Legajo: {{data.NumeroLegajo}}</p>
      <p>Sexo: {{data.Sexo =='M' ? 'Masculino': 'Femenino'}}</p>
  
  </mat-dialog-content>
    
  </div>
  <div  style="text-align: center">
    <a class="abrir-nueva-pantalla" (click)="abrirImagenEnNuevaVentana()"
      >Ver Imagen</a
    >
</div>

<div class="zoom_outer" style="text-align: center">
  
    <img id="zoom" [src]="imagenUrl" alt="zoom" />
  
  <div>
    <button mat-icon-button (click)="prevImage()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="nextImage()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
</div>


<mat-dialog-actions>
  <button mat-button mat-dialog-close class="button_rigth">Salir</button>
</mat-dialog-actions>
