<mat-toolbar><span>Información</span></mat-toolbar>
<!-- <h2 mat-dialog-title>Información</h2> -->
<div class="row">
  <div class="col-md-4">
    <mat-dialog-content>
      <p>Apellido: {{data.Apellido}}</p>
      <p>Nombre: {{data.Nombre}}</p>
      <p>Numero Documento: {{data.TipoDocumento.Descripcion}} - {{data.NumeroDocumento}}</p>
      <p>Legajo: {{data.NumeroLegajo}}</p>
      <p>Sexo: {{data.Sexo =='M' ? 'Masculino': 'Femenino'}}</p>
  
  </mat-dialog-content>
  <h2 mat-dialog-title>Hojas</h2>
  <mat-dialog-content>
    <div *ngFor="let hoja of data.Hojas; let i = index">
      <p>Hoja {{ i + 1 }}</p>
      <div>
        <h4>Imagen frontal:</h4>
        <p hidden="true">{{ hoja.ImagenFrontalId }}</p>
        <button mat-button (click)="obtentenerImagen(hoja.ImagenFrontalId)"><mat-icon>visibility</mat-icon></button>
      </div>
      <div>
        <h4>Imagen Reverso:</h4>
        <p hidden="true">{{ hoja.ImagenReversoId }}</p>
        <button mat-button (click)="obtentenerImagen(hoja.ImagenReversoId)"><mat-icon>visibility</mat-icon></button>
      </div>
    </div>
    
  </mat-dialog-content>
  </div>
  <div class="col-md-8">
    <img [src]="imagenUrl" alt="Imagen" class="img-responsive imagen-style" >
  </div>
</div>


<mat-dialog-actions>
  <button mat-button mat-dialog-close class="button_rigth">Salir</button>
</mat-dialog-actions>